@font-face{
    font-family: MyriadPro;
    src:url('../fonts/MyriadPro-Regular_gdi.eot');
    src:url('../fonts/MyriadPro-Regular_gdi.eot?') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular_gdi.svg') format('svg');
    src:local(MyriadPro), url('../fonts/MyriadPro-Regular_gdi.ttf');
    font-weight:normal;font-style:normal
}
section {
    padding-top: 40px;
    float: left;width: 100%;
    padding-bottom: 0px;
    position: relative;
    z-index: 999;
}

a:focus{ text-decoration:none;}
.pad-bottom {
    padding-bottom: 10px;
}
input{ outline:none;}

/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background: #fff;
    border-bottom: #9E9D9C solid 2px;
    color: #fff;
    z-index: 99999999;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
}

    .navbar-default .navbar-nav > li > a {
        color: #000;
		font-size:18px;
		font-family:'MyriadPro', Helvetica, sans-serif;
		font-weight:normal;
		padding:30px 10px;
		margin: 0 10px;
    }
.selected, .navbar-default .navbar-nav > li > a:hover{ 
color: #666;
		font-family:'MyriadPro', Helvetica, sans-serif;
		font-weight:normal;
text-decoration:none;
}
.navbar-brand {
    padding: 0px;
	margin-top:10px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-brand img{
-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	max-width:200px;
}
.navbar-default .navbar-toggle .icon-bar {
    background:#666;
}
.navbar-default .navbar-toggle{border-color: #999;}
.hideDiv{ float:left !important; width:100% !important; border-bottom:solid 1px #eee; opacity: 1; background:#fff !important; position:fixed !important; width:100% !important; height:60px;}
	.hideDiv .navbar-brand{ margin-top:5px; -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}
	.hideDiv .navbar-brand img{ width:150px;
	
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	}
	.hideDiv .navbar-nav > li > a{ line-height:5px; padding: 35px 10px 20px 10px; font-size:18px; color:#000 ;}
	
	.hideDiv .selected, .hideDiv .navbar-nav > li > a:hover{ 
color: #666;
		font-family:'MyriadPro', Helvetica, sans-serif;
		font-weight:normal;
}
/*================================
    PLAN AND PRICING
==================================*/

.plan_pricing1{
background:#019271;
float:left; width:100%;
color:#fff;
text-align:center;
margin-bottom:10px;
}
.plan_pricing1 h3{ font-size:26px;  margin:30px 0; text-transform:uppercase;}
.price_in{ float:left; width:120px; background:#fff; height:120px; border-radius:50%; color:#178DB3; font-size:30px;}
.price_in p{ padding-top:40px; margin-bottom:0; line-height:25px;}
.price_in p span{ font-size:50px;}
.price_in font{ font-size:18px;}
.pricDD{ margin:0 auto; width:120px;}

.plan_pricing1 ul{
float: left;
    width: 80%;
    text-align: center;
    list-style: none;
	margin:30px 0 20px 10%;
	padding:0;
}
.plan_pricing1 ul li{
font-size:18px;
padding:10px 0;
border-bottom:solid 1px #fff;
color:#fff;
}
.plan_pricing1 ul li:last-child{ border:0;}
.plan_pricing1 a{
float:left; width:80%; margin-left:10%; padding:8px 0; background:#fff; border:solid 1px #fff; font-size:22px; text-decoration:none; text-align:center; border-radius:5px; margin-bottom:25px;
}

.hvr-sweep-to-bottom {
color:#178EB6;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #178EB6;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:5px;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
  border-radius:5px;
  border:solid 1px #fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


.hvr-sweep-to-bottom1 {
color:#019271;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #019271;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:5px;
}
.hvr-sweep-to-bottom1:hover, .hvr-sweep-to-bottom1:focus, .hvr-sweep-to-bottom1:active {
  color: white;
  border-radius:5px;
  border:solid 1px #fff;
}
.hvr-sweep-to-bottom1:hover:before, .hvr-sweep-to-bottom1:focus:before, .hvr-sweep-to-bottom1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    /* background: #435348 url(../img/main-banner-1.png) no-repeat top center; Full Witdth background image*/
    padding: 0;
    min-height: 660px;
	background-size:100%;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        min-height: 695px;
        color: #fff;
		opacity:.3;
		background:#111;
		position:absolute;
		top:0;
		width:100%;
		z-index:2;
    }
	
	
.downloadApp{ float:left; width:100%; background:#009271; position:relative; z-index:999;}
    #home h1 {
        padding-top: 80px;
        font-weight: 900;
        font-size: 100px;
    }
.signInSection{float:left; width:100%; background:#E7E7E9; padding:20px 0;}
.signInSection h2{ color:#178EB6; margin:0; font-size:32px; border-right:solid 2px #D9D9DB; padding-right:25px; float:left; line-height:65px;}
.liginBtm{ float:right;}
.liginBtm a{ float:left; text-decoration:none;}
.liginBtm a:hover{ text-decoration:none;}
.liginBtm input[type=text], .liginBtm input[type=password]{ background:none; border:solid 1px #919294; color:#919294; padding:7px 10px; border-radius:10px; margin:15px 10px 0 30px; width:300px; float:left; font-size:16px;}
.btnLogin{ background:#178EB6 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:17px 0 0 25px; width:140px; text-align:center; border-radius:5px;
    cursor: pointer;
	}


.btnSignup{ background:#019271 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:15px 0 0 25px; width:140px; text-align:center; border-radius:5px;
    cursor: pointer;
}
.btnLogin:hover, .btnSignup:hover {
background:#222 !important;
    color: #FFF;
}


#login-content .liginBtm{ float:right; margin-top:10px;}
#login-content form{ float:left; width:100%; margin-bottom:0;}
#login-content .liginBtm input[type=text], #login-content .liginBtm input[type=password]{ background:none; border:solid 1px #919294; color:#919294; padding:7px 10px; border-radius:10px; margin:10px 0 0 5%; width:90%; float:left; font-size:16px;}
#login-content .btnLogin{ background:#178EB6 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:10px 0 0 5%; width:90%; text-align:center; border-radius:5px;
    cursor: pointer;
	}


#login-content .btnSignup{ background:#019271 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:10px 0 0 5%; width:90%; text-align:center; border-radius:5px;
    cursor: pointer;
}
#login-content .btnLogin:hover, #login-content .btnSignup:hover {
background:#222 !important;
    color: #FFF;
}
.forgotPass{ float:left; width:90%; margin-left:5%; font-size:14px; margin-top:15px; padding-bottom:10px; text-align:center; border-bottom:solid 1px #B3B3B4; color:#9E9EA0;}

.banner-text{ position:relative; margin-bottom:0px; height:670px; float:left; width:100%;}
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
	float:left;
	width:520px;
	text-align:left;
	font-size:32px;
	line-height:35px;
	position:absolute;
	z-index:3;
	top:250px;
	color:#fff;
	font-family:"Alegreya Sans", Helvetica, sans-serif;
	font-weight:400;
}
.downloadApp p{
padding:45px 0px 40px 0;
	float:left;
	text-align:left;
	font-size:34px;
	line-height:35px;
	color:#fff;
	font-family:"Alegreya Sans", Helvetica, sans-serif;
	font-weight:400;
}
.head-set{
padding:20px 0px 10px 0;
	float:left;
	font-size:34px;
	line-height:35px;
	color:#178EB4;
	font-family:"Alegreya Sans", Helvetica, sans-serif;
	font-weight:400;
	text-align:center;
	width:100%;
	margin-top:0;
}

.pricPackages{
padding:30px 0px 20px 0;
	float:left;
	font-size:34px;
	line-height:35px;
	color:#178EB4;
	font-family:"Alegreya Sans", Helvetica, sans-serif;
	font-weight:400;
	text-align:center;
	width:100%;
	margin-top:0;
}
#features{ background:#f1f1f1;}
.leftImg{ margin-top:50px; float:left; max-width:100%;}
.featuresDD{ float:left; width:100%; padding:60px 0; background:#178EB4; margin-top:50px;}
.inn_download{ float:right; margin-top:28px;}
.inn_download img { float:left; width:30px;}
.inn_download a { float: right; background:#fff; border-radius:5px; padding:8px; line-height:25px; margin:15px; margin-left:10px; font-family:'MyriadPro', Helvetica, sans-serif; font-size:24px; color:#009271;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #444;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.inn_download a:hover {
    box-shadow: inset 0 100px 0 0 #222;
    color: #FFF;
}


.inn_download a span{ float: right; margin:2px 10px;}
.inn_download a img{ margin:0 !important;}

.f_inner{ float:left; width:100%; margin-top:18px;}
.f_inner img{ float:left; margin-right:15px;}
.f_inner p{ float:left; font-size:26px; line-height:28px; width:85%; font-weight:400; font-family:"Alegreya Sans", Helvetica, sans-serif; color:#fff;}
.f_inner p span{ float:left; width:100%; color:#B8F2FF; font-size:20px; font-weight:normal;}


/*======================================
           Category Boxes
=========================================*/
.searchCategory .col-sm-3, .searchCategory .col-md-3{ padding-left:5px; padding-right:5px;}
.imgFirst{ float:left; margin:0 0 0 4px;}
.greenBox{ float:left; width:100%; background:#fff; font-family:'MyriadPro', Helvetica, sans-serif;}
.greenBox .greenInner1{ float:left; width:100%; margin:0; background:#2EB9C3; padding:7px 6px;}
.greenBox .greenInner3{ float:left; width:100%; margin:0; background:#2EB9C3; padding:7px 6px;}
.greenBox .greenInner1 font{ float:right; font-size:12px; color:#fff; margin-top:7px; margin-right:2px;}
.greenBox .greenInner1 font img{ float:left; margin:3px 5px 0 0;}
.greenBox .greenInner1 span{ float:left; font-size:14px; margin:4px 10px; color:#fff;}
.greenInner2 span{ float:left; max-width:110px;}
.lostImg{ float:left; position:relative; z-index:2;}
.lostImg2{ float:left; margin: 0px 0 0px -43px; position:relative; z-index:1;     border: solid 0px #fff;
    border-radius: 0px;}
.greenInner2 .rightGreen{ float:right; width:160px; margin-top:12px; padding-bottom:5px; min-height:90px;}
.rightGreen h4{ float:left; font-size:18px; color:#333; margin:0; width:100%; text-align:left;}
.rightGreen p{ float:left; text-align:left; font-size:14px; color:#333; width:100%; word-wrap: break-word;}
.mapImg{ float:left; margin-left:10px;}
.greenBox .greenInner3 span{ float:left; font-style: italic; color:#fff; font-size:14px; margin-left:10px;}

.greenColor{ background:#fff;}
.boxColor2 .greenInner1, .boxColor2 .greenInner3{ background:#FFA663;}
.boxColor3 .greenInner1, .boxColor3 .greenInner3{ background:#FF6969;}
.boxColor4 .greenInner1, .boxColor4 .greenInner3{ background:#93D16A;}
.greenColor .greenInner1 { background:#007E58;}
.greenColor  .greenInner3  { background:#007E58;}
/*======================================
           PRINCING SECTION
=========================================*/
.container{position: relative;}
#pricing{ float:left; width:100%; background: #fff; padding-bottom: 40px;}
#pricing .container{ max-width:960px;}
.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: rgba(35, 133, 161,0.9);
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
.topHead { float:left;  width:100%; margin:15px 0;}
.topHead span{ display: inline-flex; font-size:32px; color:#168EB3; position:relative; top:10px;}

/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
float:left; width:100%; margin-top: 0px; padding-top: 0px;
}
#login{ width:110px;
    color: #000;
    font-size: 18px;
    font-family:'MyriadPro', Helvetica, sans-serif;
    font-weight: normal;
    padding: 28px 10px;
    margin: 0 10px;
	cursor:pointer;
}
#login #login-trigger span{font-size: 14px;}
.hideDiv #login{
font-size:18px; padding-top:13px; color:#000 !important;
}
#login-content{ border:solid 1px #ccc; float:right; width:350px; height:260px; clear:both; margin-top:-4px; margin-right:25px; position:relative; z-index:99999999; background:#fff; border-radius:5px; display:none;}
.hideDiv #login-content{ margin-top:-15px;}
.rev_slider_wrapper{ position:absolute; top:0; z-index:1 !important;}
.tp-loader{ display:none;}


/* ==========================================================================

   Contact

   ========================================================================== */

 
.contact { float:left; width:100%; padding-bottom: 20px; background: #fff;}
.contact h2 { margin-bottom: 1.5em; margin-top:25px; }



.contact-form { margin-top: 0; }



.contact-form .form-control {

  border-color: #ddd;

  margin-bottom: .75em;

  padding: .75em 12px;

}



.contact-form label.error {

  margin-bottom: 12px;

  font-weight: 300;

  color: #ea5050;

}



.contact .btn-default { width: 100%; }



/* ==========================================================================

   contact Form Validation

   ========================================================================== */

   



.contact-form label.error i { padding-right: 8px; }



.success-cf,

.error-cf { display: none; }



.success-cf p { background: rgba(39, 174, 96, 0.7); }



.error-cf p { background: rgba(231, 76, 60, 0.7); }



.contact-form { position: relative; }



.contact-form .success-cf p,

.contact-form .error-cf p {

  position: absolute;

  display: block;

  top: 40%;

  left: 0;

  right: 0;

  text-align: center;

  z-index: 10;

  color: #fff;

  border-radius: 2px;

  padding: .75em;

}



/* ==========================================================================

   Map

   ========================================================================== */

.map {

  position: relative;

  box-shadow: 0 0 0 4px #fff;

  border-radius: 2px;
  margin-bottom:20px;

}



#map-canvas {

  width: 100%;

  height: 320px;

  margin: 0px;

  padding: 0px

}



#map-canvas img { max-width: none; }



.address {

  position: absolute;

  left: 0;

  bottom: 0;

  background: rgba(255, 255, 255, 0.71);

  color: #666;

  padding: 1em;

  margin: 0 0 .75em .75em;

}

.address span{ margin-left:22px;}

.address li i {

  padding-right: 8px;

  color: #3c83f9;
  width:22px;

}



.address li { padding-bottom: .5em; }



.address li:last-child { padding-bottom: 0; }



/* ==========================================================================

   footer

   ========================================================================== */

   

.site-footer { background: #F1F1F1; position: relative; z-index: 9;}



.site-footer.section-spacing { padding: 30px 0; }



.site-footer h3 { margin: 0; }



.site-footer .social {

  float: left;
  width:100%;

  margin-bottom: 1.5em;
  padding-left:0;

}



.site-footer small { color: #888; float:left; width:100%;}

/* ==========================================================================

   Subscription form 

   ========================================================================== */

   

 .form-control::-webkit-input-placeholder {

 color: #727272;

 font-weight: 300;

}

 .form-control:-moz-placeholder {

 color: #727272;

 font-weight: 300;

}

 .form-control::-moz-placeholder {

 color: #727272;

 font-weight: 300;

}

 .form-control:-ms-input-placeholder {

 color: #727272;

 font-weight: 300;

}



.sub-form { padding-top: 1.5em; }



.center-block { float: none; }



.form-control {

  background-color: #fff;

  border: 1px solid #fff;

  box-shadow: none;

  height: 50px;

  font-weight: 300;

}



.form-control:focus {
  outline: 0;

  box-shadow: none;

}



.input-group-btn>.btn:hover,

.input-group-btn>.btn:focus,

.input-group-btn>.btn:active { z-index: 1; }



.btn-default {

  color: #fff;

  background-color: #218EB4;

  border-color: #218EB4;

  -webkit-transition: all .5s ease-out;

  transition: all .5s ease-out;

  padding: 12px 1.5em;

}



.btn-default:hover,

.btn-default:focus,

.btn-default:active {

  color: #fff;

  background-color: #02BCFD;

  border-color: #02BCFD;

}



.btn:active:focus,

.btn-default:focus,

.btn:focus,

.btn-default:active { outline: none; }



#mc-notification {

  margin: .75em 0 0;

  color: #FFF;
  position:relative;
  z-index:999;

}



.alert,

.success {

  padding: .5em 1em;

  border-radius: 4px;

  display: inline-block;

}



.alert { background-color: rgba(231, 76, 60, 0.7); }



.success { background-color: rgba(39, 174, 96, 0.7); }



.alert i,

.success i { padding-right: .5em; }



.fa-paper-plane { padding-left: .5em; }


/* ==========================================================================

   Social 

   ========================================================================== */



.social { float: none; }



.social li {

  display: inline-block;

  padding-right: .8em;

}



.social li:last-child { padding-right: 0; }



.social li a {

  display: block;

  width: 38px;

  height: 38px;

  line-height: 38px;

  color: #fff;

  border-radius: 50%;

  background: #218EB4;

  position: relative;

  -webkit-transition: all .8s ease;

  transition: all .8s ease;

}



.social li a:hover {

  color: #fff;

  background: #02BCFD;

}
#moveTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999999;
    font-size: 24px;
    opacity: .8;
}
#rev_slider_1_1, #rev_slider_1_1_wrapper{background: #fff !important;}
.navbar-collapse{ position:relative;}
#flags_language_selector{ position:absolute; z-index:9999999; right:50px; top:-1px;}
#flags_language_selector a{color: #000000; text-decoration: none; font-size: 12px;}
#flags_language_selector .slct{ color: #999;}
#flags_language_selector img{ padding:1px;}

@media screen and (max-width: 1024px) {
    #flags_language_selector{right: 5.5%;}
.greenInner2 .rightGreen{ width:90%; margin-right:5%;}
.imgFirst{ width:15px; margin-top:6px;}
.liginBtm input[type=text], .liginBtm input[type=password]{ width:200px; margin-right:10px; margin-left:10px;}
#home{ background-size:130%; background-position:top;}
.f_inner p span{ font-size:16px;}
.navbar-brand img{ width:220px; margin-left:10px}
    #moveTop{font-size: 20px;}

    #home, .banner-text{ height:500px; min-height:500px;}
    #home .overlay{ height:530px; min-height:530px;}

}
@media screen and (max-width: 768px) {
    #flags_language_selector{right: 5%;}
    .navbar-default{max-height: 65px;}
.navbar-brand img{ width:200px;}

    #home, .banner-text{ height:370px; min-height:370px;}
    #home .overlay{ height:400px; min-height:400px;}

.p-cls{ top:150px; font-size:26px;}
.downloadApp p{ width:100%; text-align:center; padding:20px 0 0 0; font-size:24px;}
.inn_download a{ margin-left:5px; margin-right:0; font-size: 16px; float: none;}
    .inn_download a span{margin: 0 5px; }
.inn_download img{ margin:12px 5px; width: 25px;}
.inn_download{ width:320px; float:none; margin:0 auto; text-align: center;}
    .navbar-nav{margin-top: 7px !important;}
.navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a{ padding:15px 5px !important; margin:0 5px !important; font-size:16px}
.navbar-default .navbar-nav > li > a:hover, .selected, .hideDiv .selected{ margin:0 5px; color: #666;}
.topHead span{ font-size:26px;}
.greenBox .greenInner1 font{ float:left; margin-left:7px; margin-top:0;}
.greenBox .greenInner3 span{ font-size:12px;}
.f_inner img{ width:33px; margin-right:5px;}
.f_inner{ margin-top:10px;}
.f_inner p span{ font-size:15px;}
.f_inner p{ line-height:20px;}
.featuresDD{ margin-top:40px; padding:40px 0;}
.hideDiv .navbar-brand{ margin-top:5px;}
.plan_pricing1 ul li{ font-size:16px; padding:7px 0;}
.plan_pricing1 ul{ width:90%; margin-left:5%;}
.signInSection h2{ font-size:24px; border-right:0; width:100%; text-align:center; padding:0;}
.liginBtm{ float:left;}
.plan_pricing1 a{ font-size:18px;}
.btnSignup, .btnLogin{ width:110px; margin-left:10px;}
.container > .navbar-header{ margin-left:0; margin-right:0;}
#login{ font-size:16px; padding-top:13px; padding-bottom:10px;}
.hideDiv #login{ padding-top:5px;}
}


@media screen and (max-width: 736px) {
    #flags_language_selector{right: 4%;}
.navbar-toggle{ margin-top:25px;}
    .navbar-brand{margin-top: 3px;}
.hideDiv .navbar-toggle{ margin-top:23px}
.navbar-collapse{ width:200px; float:right; padding-top:4px; border:2px solid #ccc !important; padding-bottom:5px; position:relative; top:-4px; overflow:hidden; background:#fff; margin-right:-10px;}
.collapse ul{ float:left; width:100%; margin:0;}

.navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li{ float:left; text-align:center; width:96%;}
.navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a{ float:left; width:100%; margin:0 !important; border-bottom:solid 1px #ccc; border-top:0; padding:10px 0 !important; line-height:20px;}
.navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a:hover{ float:left; width:100%; border-bottom:solid 1px #ccc; border-top:0 !important; color:#000; padding:10px 0 !important;}
.greenInner2 .rightGreen{ width:75%;}
.greenBox .greenInner1 font{ margin-top:5px; float:right;}
.liginBtm{ width:70%; margin-left:15%;}
.liginBtm input[type=text], .liginBtm input[type=password]{ width:100%; margin: 10px 0;}
.btnSignup, .btnLogin{ width:100%; margin:10px 0;}
    #home, .banner-text{ height:380px; min-height:380px;}
    #home .overlay{ height:400px; min-height:400px;}
#login{ width:100%; margin:0; text-align:center; float:left;}

#login-content{ margin-top:0px; width:70%; margin-left:13%; position:absolute; z-index: 9999999; top:20px;}
#login-content .liginBtm{ width:100%;}
}

@media screen and (max-width: 668px) {
    #home, .banner-text{ height:330px; min-height:330px;}
    #home .overlay{ height:350px; min-height:350px;}
}

@media screen and (max-width: 600px) {
    #flags_language_selector{right: 5.5%;}
    .topHead span{display: block;}
#home, .banner-text{ height:270px; min-height:270px;}
  #home .overlay{ height:290px; min-height:290px;}
.banner-text{ padding-left:0; padding-right:0;}
.p-cls{ width:90%; font-size:22px; top:100px; line-height:24px;}
.navbar-brand img{ margin-left:0;}
#login-content{ margin-top:0px; width:80%;  margin-left:6%; position:absolute; top:20px;}
#login-trigger{color: #000; !important;}
}
@media screen and (max-width: 415px) {
    .navbar-default .navbar-toggle{margin-right: 5px;}
    #flags_language_selector{right: 6%;}
    #rev_slider_1_1, #rev_slider_1_1_wrapper{height:180px !important; padding-top: 40px !important; min-height:180px !important;}
#home, .banner-text{ height:180px !important;  top: 40px !important; min-height:180px !important;}
    #home .overlay{ height:200px !important; top: 40px !important; min-height:200px !important;}
.p-cls{ top:10px; font-size:18px; line-height:18px;}
.head-set, .pricPackages{ font-size:26px; padding-top:10px; padding-bottom:0px;}
#home{ background-size:150%;}
.downloadApp p{ font-size:20px; padding-top: 0px; margin-bottom: 0;}
.greenInner2 .rightGreen{ width:63%; float:left; margin-left:10px;}
.leftImg{ margin-top:0;}
.navbar-brand img{ width:150px;}
    .inn_download a{margin-top: 5px;}
    .footer_links{font-size: 12px;}
}

@media screen and (max-width: 376px) {
.inn_download{ width:255px;}
.inn_download img{ max-width:35px; }
.inn_download a{ padding:4px; margin-bottom: 5px; margin-left: 2px; font-size:15px; margin-top: 0px;}
.inn_download a span{ margin:0 6px;}
.downloadApp p{ font-size:16px;}
}
