@font-face{
    font-family: MyriadPro;
    src:url('../fonts/MyriadPro-Regular_gdi.eot');
    src:url('../fonts/MyriadPro-Regular_gdi.eot?') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular_gdi.svg') format('svg');
    src:local(MyriadPro), url('../fonts/MyriadPro-Regular_gdi.ttf');
    font-weight:normal;font-style:normal
}

body{ font-family: 'Open Sans', sans-serif; padding-right: 0 !important; word-wrap: break-word;}

section {
    padding-top: 40px;
    float: left;width: 100%;
    padding-bottom: 0px;
    position: relative;
    z-index: 999;
}
h4{margin-bottom: 10px; margin-top: 25px;}
a:focus{ text-decoration:none;}
.pad-bottom {
    padding-bottom: 10px;
}
input{ outline:none;}

/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background: #fff;
    border-bottom: #F3F5F4 solid 2px;
    color: #fff;
    z-index: 99999999;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 92px;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    padding:20px 10px;
    margin: 0 10px;
}
.selected, .navbar-default .navbar-nav > li > a:hover{
    color: #178EB4 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    text-decoration:none;
}
.navbar-brand {
    padding: 0px;
    margin-top:0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-brand img{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-width:200px;
}
.navbar-default .navbar-toggle .icon-bar {
    background:#666;
}
.navbar-default .navbar-toggle{border-color: #999;}
.hideDiv{ float:left !important; width:100% !important; border-bottom:solid 1px #eee; opacity: 1; background:#fff !important; position:fixed !important; width:100% !important; height:60px;}
.hideDiv .navbar-brand{ margin-top:10px; -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}
.hideDiv .navbar-brand img{ width:150px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.hideDiv .navbar-nav > li > a{ line-height:5px; padding: 35px 10px 20px 10px; font-size:18px; color:#000 ;}

.hideDiv .selected, .hideDiv .navbar-nav > li > a:hover{
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}
/*================================
    PLAN AND PRICING
==================================*/
.featuresDD h1{float: left; width: 100%; margin-top: 5px; text-align: center; font-size: 28px; font-weight: 600;
    color: #fff;}
.featuresDD h3{float: left; width: 100%; text-align: center; font-size: 17px; font-weight: normal;
    color: #beefff; margin-top: 5px;}
.plan_pricing1{
    background:#019271;
    float:left; width:100%;
    color:#fff;
    text-align:center;
    margin-bottom:10px;
}
#pricing .col-sm-8{width: 60%;}
.plan_pricing1 h3{ font-size:26px;  margin:30px 0; text-transform:uppercase;}
.price_in{ float:left; width:120px; background:#fff; height:120px; border-radius:50%; color:#178DB3; font-size:30px;}
.price_in p{ padding-top:40px; margin-bottom:0; line-height:25px;}
.price_in p span{ font-size:50px;}
.price_in font{ font-size:18px;}
.pricDD{ margin:0 auto; width:120px;}

.plan_pricing1 ul{
    float: left;
    width: 80%;
    text-align: center;
    list-style: none;
    margin:30px 0 20px 10%;
    padding:0;
}
.plan_pricing1 ul li{
    font-size:18px;
    padding:10px 0;
    border-bottom:solid 1px #fff;
    color:#fff;
}
.plan_pricing1 ul li:last-child{ border:0;}
.plan_pricing1 a{
    float:left; width:80%; margin-left:10%; padding:8px 0; background:#fff; border:solid 1px #fff; font-size:22px; text-decoration:none; text-align:center; border-radius:5px; margin-bottom:25px;
}

.hvr-sweep-to-bottom {
    color:#178EB6;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #178EB6;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius:5px;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
    border-radius:5px;
    border:solid 1px #fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


.hvr-sweep-to-bottom1 {
    color:#019271;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #019271;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius:5px;
}
.hvr-sweep-to-bottom1:hover, .hvr-sweep-to-bottom1:focus, .hvr-sweep-to-bottom1:active {
    color: white;
    border-radius:5px;
    border:solid 1px #fff;
}
.hvr-sweep-to-bottom1:hover:before, .hvr-sweep-to-bottom1:focus:before, .hvr-sweep-to-bottom1:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    /* background: #435348 url(../img/main-banner-1.png) no-repeat top center; Full Witdth background image*/
    padding: 0;
    min-height: 660px;
    background-size:100%;
}
/*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
#home .overlay {
    padding-top: 90px;
    min-height: 715px;
    color: #fff;
    opacity:.3;
    background:#111;
    position:absolute;
    top:0;
    width:100%;
    z-index:2;
}


.downloadApp{ float:left; width:100%; background:#218EB4; position:relative; z-index:999; padding:30px 0 30px 0}
#home h1 {
    padding-top: 80px;
    font-weight: 900;
    font-size: 100px;
}
.signInSection{float:left; width:100%; background:#E7E7E9; padding:20px 0;}
.signInSection h2{ color:#178EB6; margin:0; font-size:32px; border-right:solid 2px #D9D9DB; padding-right:25px; float:left; line-height:65px;}
.liginBtm{ float:right;}
.liginBtm a{ float:left; text-decoration:none;}
.liginBtm a:hover{ text-decoration:none;}
.liginBtm input[type=text], .liginBtm input[type=password]{ background:none; border:solid 1px #919294; color:#919294; padding:7px 10px; border-radius:10px; margin:15px 10px 0 30px; width:300px; float:left; font-size:16px;}
.btnLogin{ background:#178EB6 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:17px 0 0 25px; width:140px; text-align:center; border-radius:5px;
    cursor: pointer;
}


.btnSignup{ background:#019271 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:15px 0 0 25px; width:140px; text-align:center; border-radius:5px;
    cursor: pointer;
}
.btnLogin:hover, .btnSignup:hover {
    background:#222 !important;
    color: #FFF;
}


#login-content .liginBtm{ float:right; margin-top:10px;}
#login-content form{ float:left; width:100%; margin-bottom:0;}
#login-content .liginBtm input[type=text], #login-content .liginBtm input[type=password]{ background:none; border:solid 1px #919294; color:#919294; padding:7px 10px; border-radius:10px; margin:10px 0 0 5%; width:90%; float:left; font-size:16px;}
#login-content .btnLogin{ background:#178EB6 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:10px 0 0 5%; width:90%; text-align:center; border-radius:5px;
    cursor: pointer;
}


#login-content .btnSignup{ background:#019271 !important; padding:6px 0; border:0; color:#fff; font-size:15px; margin:10px 0 0 5%; width:90%; text-align:center; border-radius:5px;
    cursor: pointer;
}
#login-content .btnLogin:hover, #login-content .btnSignup:hover {
    background:#222 !important;
    color: #FFF;
}
.forgotPass{ float:left; width:90%; margin-left:5%; font-size:14px; margin-top:15px; padding-bottom:10px; text-align:center; border-bottom:solid 1px #B3B3B4; color:#9E9EA0;}

.banner-text{ position:relative; margin-bottom:0px; float:left; width:100%;}

.p-cls {
    padding-top: 100px;
    padding-bottom: 40px;
    float:none;
    width:100%;
    font-size:24px;
    line-height:35px;
    position:relative;
    z-index:3;
    top:110px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}
.p-cls label{
    float: left;
    width: 100%;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.downloadApp p{
    padding:45px 0px 40px 0;
    float:left;
    text-align:right;
    font-size:34px;
    line-height:35px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    width: 49%; text-align: right;
}
.head-set{
    padding:0px 0px 10px 0;
    float:left;
    font-size:20px;
    line-height:30px;
    color:#0088b3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
    text-align:center;
    width:100%;
    margin-top:0;
}

.pricPackages{
    padding:30px 0px 20px 0;
    float:left;
    font-size:34px;
    line-height:35px;
    color:#178EB4;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    text-align:center;
    width:100%;
    margin-top:0;
}
#features{ background:#fff; padding-top: 40px;}
.featImg{text-align: center;}
.leftImg{ margin:50px auto 10px auto; float:none; max-width:100%; }
.featuresDD{ float:left; width:100%; padding:60px 0; background:#178EB4; margin-top:50px;}
.inn_download{ float: none;
    margin-top: 28px;
    width: 610px;
    margin: 0 auto;}
.inn_download img { float:left; width:30px;}
.inn_download a { float: left; width: 288px; background:#fff; border-radius:5px; padding:8px;
    line-height:25px; margin:15px 8px; font-family: 'Open Sans', sans-serif; font-size:17px; color:#178eb4;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.downLoadLinks .btn-lg{
    box-shadow: inset 0 0 0 0 #444;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.downLoadLinks .btn-lg:hover {
    background: #02BCFD;
    color: #FFF;
}

.inn_download a:hover{
   background: #3EBFEC;
    color:#fff;
}


.inn_download a span{ float: left; margin:2px 10px;}
.inn_download a img{ margin:0 !important;}

.f_inner{ float:left; width:100%; margin-top:18px; margin-top: 15px;
    padding-top: 20px;
    border-bottom: solid 1px #c7e0e7;}
.f_inner img{ width: 64px;}
.f_inner p{ float:left;
    font-size:22px;
    min-height: 85px;
    line-height:28px; margin:25px 5%; font-weight: 600; width:90%; font-family: 'Source Sans Pro', sans-serif; color: #0088b3;}
.f_inner p span{ float:left; width:100%; font-family: 'Open Sans', sans-serif; font-weight: 400; color:#0088b3; font-size:18px; }


/*======================================
           Category Boxes
=========================================*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
.searchCategory .col-sm-3, .searchCategory .col-md-3{ padding-left:5px; padding-right:5px;}
.imgFirst{ float:left; margin:0 0 0 4px; border-radius: 50px;}
.greenBox{ float:none; margin:0 auto; width:275px; background:#fff; font-family: 'Open Sans', sans-serif;}
.greenBoxB1{float: left; width: 100%; border-radius: 5px; border: solid 1px #2EB9C3;}
.greenBoxB2{float: left; width: 100%; border-radius: 5px; border: solid 1px #93D16A;}
.greenBoxB3{float: left; width: 100%; border-radius: 5px; border: solid 1px #FFA663;}
.greenBoxB4{float: left; width: 100%; border-radius: 5px; border: solid 1px #FF6969;}
.greenBox .greenInner1{ float:left; width:100%; margin:0; background:#2EB9C3; padding:3px 6px;}
.greenBox .greenInner3{ float:left; width:100%; margin:0; color: #333; border-top: 2px solid #fff; background:#e7eff1; padding:5px 6px;}
.greenBox .greenInner1 font{ float:right; font-size:10px; color:#fff; margin-top:15px; margin-right:2px; line-height: 15px;}
.greenBox .greenInner1 font img{ float:left; margin:3px 5px 0 0;}
.greenBox .greenInner1 span{ float:left; font-size:13px; margin:12px 3px 2px 4px; color:#fff; line-height: 15px;}
.greenInner2 span{ float:left; max-width:96px; border-radius: 5px; margin: 7px 0 0 6px; line-height: 15px;}
.lostImg{ float:left; position:relative; z-index:2;}
.lostImg2{ float:left; margin: 0px 0 0px -51px; position:relative; z-index:1;  border: solid 0px #fff;
    border-radius: 0px;}

.gPlay1{ background-image: url(http://108.163.184.34/crowdeyes-parallax/wp-content/themes/crowdeyes/assets/img/ios2.png) !important;
    background-position: 25px center; background-repeat: no-repeat;
    background-position: 7px center !important;
    background-repeat: no-repeat !important;
    background-size: 32px 32px !important;
}
.gPlay1:hover{background-image: url(http://108.163.184.34/crowdeyes-parallax/wp-content/uploads/2016/01/ios3.png) !important;
}

.gPlay2{background-image: url(http://108.163.184.34/crowdeyes-parallax/wp-content/themes/crowdeyes/assets/img/android2.png) !important;
    background-position: 25px center;
    background-position: 7px center !important;
    background-repeat: no-repeat !important;
    background-size: 32px 32px !important;
}
.gPlay2:hover{background-image: url(http://108.163.184.34/crowdeyes-parallax/wp-content/uploads/2016/01/android3.png) !important;
}

.gPlay1 span, .gPlay2 span{ margin-left: 8% !important; width: 88% !important; text-align: center;}

.greenInner2 .rightGreen{ float:right; width:160px; margin-top:10px; padding-bottom:5px; min-height:90px;}
.rightGreen h4{ float:left; font-size:18px; color:#444; margin:0; width:100%; text-align:left;}
.rightGreen p{ float:left; text-align:left; font-size:12px; line-height: 17px; margin-top: 3px; padding-right: 3px; color:#333; width:100%; word-wrap: break-word;}
.mapImg{ float:left; margin-left:0px; width: 12px;}
.greenBox .greenInner3 span{ float:left; font-size: 12px; font-style: italic; line-height: 15px; color:#666;
    margin-left:7px;}
.imgDD{float: left; width: 100%; text-align: center; height: 70px;}
.imgDD img{ max-height: 68px;}
.greenColor{ background:#fff;}
.boxColor2 .greenInner1{ background:#FFA663;}
.boxColor3 .greenInner1{ background:#FF6969;}
.boxColor4 .greenInner1{ background:#93D16A;}
.greenColor .greenInner1 { background:#007E58;}
.greenColor  .greenInner3  { background:#007E58;}
/*======================================
           PRINCING SECTION
=========================================*/
.container{position: relative;}
#pricing{ float:left; width:100%; background: #fff; padding-bottom: 60px;}
#pricing .container{ max-width:960px;}
.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.parallax-like .overlay {
    min-height: 200px;
    background: rgba(35, 133, 161,0.9);
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.topHead { float:left;  width:100%; margin:15px 0;}
.topHead span{ display: inline-flex; font-size:24px; color:#7a797a; position:relative; top:10px;}
.topHead img{width: 53px; margin-top: 5px;}
/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    float:left; width:100%; margin-top: 0px; padding-top: 0px;
}
#login{ width:110px;
    color: #000;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding: 28px 10px;
    margin: 0 10px;
    cursor:pointer;
}
#login #login-trigger span{font-size: 14px;}
.hideDiv #login{
    font-size:18px; padding-top:13px; color:#000 !important;
}
#login-content{ border:solid 1px #ccc; float:right; width:350px; height:260px; clear:both; margin-top:-4px; margin-right:25px; position:relative; z-index:99999999; background:#fff; border-radius:5px; display:none;}
.hideDiv #login-content{ margin-top:-15px;}
.rev_slider_wrapper{ position:absolute; top:92px; z-index:1 !important;}
.tp-loader{ display:none;}
.slotholder { background: #000 !important;;}


/* ==========================================================================

   Contact

   ========================================================================== */


.contact { float:left; width:100%; padding-bottom: 20px; background: #fff;}
.contact h2 { margin-bottom: 50px; }



.contact-form { margin-top: 0; }



.contact-form .form-control, .wpcf7-form input, .wpcf7-form select {

    border-color: #ddd;

    margin-bottom: .75em;

    padding: 10px 12px;

}



.contact-form label.error {

    margin-bottom: 12px;

    font-weight: 300;

    color: #ea5050;

}

.contact-form p{width: 98% !important; margin-left: 0;}
.contact-form .wpcf7-form input[type=submit]{width: 180px !important;}
.contact-form .wpcf7-form textarea{
    height: 110px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;

    margin-bottom: .75em;

    padding: .75em 12px;}

.contact .btn-default { width: 100%; }



/* ==========================================================================

   contact Form Validation

   ========================================================================== */





.contact-form label.error i { padding-right: 8px; }



.success-cf,

.error-cf { display: none; }



.success-cf p { background: rgba(39, 174, 96, 0.7); }



.error-cf p { background: rgba(231, 76, 60, 0.7); }



.contact-form { position: relative; }



.contact-form .success-cf p,

.contact-form .error-cf p {

    position: absolute;

    display: block;

    top: 40%;

    left: 0;

    right: 0;

    text-align: center;

    z-index: 10;

    color: #fff;

    border-radius: 2px;

    padding: .75em;

}



/* ==========================================================================

   Map

   ========================================================================== */

.map {

    position: relative;

    box-shadow: 0 0 0 4px #fff;

    border-radius: 2px;
    margin-bottom:20px;

}



#map-canvas {

    width: 100%;

    height: 313px;

    margin: 0px;

    padding: 0px

}



#map-canvas img { max-width: none; }



.address {

    position: absolute;

    left: 0;

    bottom: 0;

    background: rgba(255, 255, 255, 0.71);

    color: #666;

    padding: 1em;

    margin: 0 0 .75em .75em;

}

.address span{ margin-left:22px;}

.address li i {

    padding-right: 8px;

    color: #3c83f9;
    width:22px;

}



.address li { padding-bottom: .5em; }



.address li:last-child { padding-bottom: 0; }



/* ==========================================================================

   footer

   ========================================================================== */



.site-footer { background: #F1F1F1; position: relative; z-index: 9; margin-top: 20px;}



.site-footer.section-spacing { padding: 30px 0; }



.site-footer h3 { margin: 0; }



.site-footer .social {

    float: left;
    width:100%;

    margin-bottom: 1.5em;
    padding-left:0;

}



.site-footer small { color: #888; float:left; width:100%;}

/* ==========================================================================

   Subscription form 

   ========================================================================== */



.form-control::-webkit-input-placeholder, .wpcf7-form input::-webkit-input-placeholder {

    color: #ccc;

    font-weight: 300;

}

.form-control:-moz-placeholder, .wpcf7-form input::-webkit-input-placeholder {

    color: #ccc;

    font-weight: 300;

}

.form-control::-moz-placeholder, .wpcf7-form input::-moz-placeholder {

    color: #ccc;

    font-weight: 300;

}

.form-control:-ms-input-placeholder, .wpcf7-form input::-ms-placeholder {

    color: #ccc;

    font-weight: 300;

}



.sub-form { padding-top: 1.5em; }



.center-block { float: none; }



.form-control, .wpcf7-form input, .wpcf7-form select {
    background: transparent;
    border: 1px solid #cdcfd0;
    border-radius: 5px;

    box-shadow: none;

    height: 45px;

    font-weight: 300;

}

.detailPages{float: left; width: 100%; margin-top: 100px; padding-bottom: 30px; border-top: solid 0px #ececec;}
.innerDePages{ float: left; padding: 20px; max-width: 100%;}
#contact .col-md-6{ padding: 4px;}
.pLast{float:right !important; margin-right:2.5% !important; width:94% !important;}
span.wpcf7-not-valid-tip{float: left; bottom: -7px; font-size: 12px; position: absolute; }
div.wpcf7-validation-errors{float: left; margin-top: 0; margin-left: 3%; display: none !important;}
.planSubH{ background:#178EB4; padding: 30px; font-family: 'Open Sans', sans-serif; margin-bottom: 30px; font-size: 22px; text-align: center; color: #fff; float: left; width: 100%;}
.regPlan{float: left; width: 100%; padding-top: 30px; position: relative;}
.wpcf7-form p{ float: left; width: 47%; margin-left: 1.7%;}
.wpcf7-form p span{float: left; width: 100%;}
.wpcf7-form input, .wpcf7-form select{
    float: left; width: 100%; -webkit-appearance: menulist-button; -webkit-appearance: none; height: 45px;}

.wpcf7-form input[type=submit]{background: #218EB4; width: 180px;  margin-bottom: 0; float:right;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    border: solid 1px #218EB4; font-family: 'Open Sans', sans-serif;  color: #fff; font-size: 18px;}

.wpcf7-form input[type=submit]:hover{background:#02BCFD; border: solid 1px #02BCFD;}
.form-control:focus, .wpcf7-form input:focus, .wpcf7-form select {
    outline: 0;

    box-shadow: none;

}

div.wpcf7-mail-sent-ng{float: left;}
div.wpcf7-mail-sent-ok{float: right; margin-top: 0; margin-right: 3%; border: 0 !important;
    color: #218EB4 !important;
    font-weight: bold; }
.contact-form div.wpcf7-mail-sent-ok{width: 100%; margin-right: 0; text-align: center;}
.input-group-btn>.btn:hover,

.input-group-btn>.btn:focus,

.input-group-btn>.btn:active { z-index: 1; }



.btn-default {

    color: #fff;

    background-color: #218EB4;

    border-color: #218EB4;

    -webkit-transition: all .5s ease-out;

    transition: all .5s ease-out;

    padding: 12px 1.5em;

}



.btn-default:hover,

.btn-default:focus,

.btn-default:active {

    color: #fff;

    background-color: #02BCFD;

    border-color: #02BCFD;

}



.btn:active:focus,

.btn-default:focus,

.btn:focus,

.btn-default:active { outline: none; }



#mc-notification {

    margin: .75em 0 0;

    color: #FFF;
    position:relative;
    z-index:999;

}



.alert,

.success {

    padding: .5em 1em;

    border-radius: 4px;

    display: inline-block;

}



.alert { background-color: rgba(231, 76, 60, 0.7); }



.success { background-color: rgba(39, 174, 96, 0.7); }



.alert i,

.success i { padding-right: .5em; }



.fa-paper-plane { padding-left: .5em; }


/* ==========================================================================

   Social 

   ========================================================================== */



.social { float: none; }



.social li {

    display: inline-block;

    padding-right: .8em;

}



.social li:last-child { padding-right: 0; }



.social li a {

    display: block;

    width: 38px;

    height: 38px;

    line-height: 38px;

    color: #fff;

    border-radius: 50%;

    background: #218EB4;

    position: relative;

    -webkit-transition: all .8s ease;

    transition: all .8s ease;

}



.social li a:hover {

    color: #fff;

    background: #02BCFD;

}
.nav > li:last-child a{border-bottom: 0;}
input {
    -webkit-appearance: none;
}
.featuresFirstS{float: left; width: 100%; text-align: center; margin-top: 60px; padding-top: 45px;
    background: url(../img/bgf.png) repeat-x top;
}
.topHeadL{float: left; width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #346777; text-align: center; font-size: 30px; font-weight: 600;}
#moveTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999999;
    font-size: 24px;
    opacity: .8;

}
#rev_slider_1_1, #rev_slider_1_1_wrapper, #rev_slider_2_1, #rev_slider_2_1_wrapper{background: #fff !important;}
.navbar-collapse{ position:relative;}
#flags_language_selector{ position:relative;
    z-index: 9999999;
    right: 0;
    top: -1px;
    width: 100%;
    text-align: right;
    background: #F3F5F4;
    padding: 5px 0;
}
.downLoadLinks{float: left; width: 100%; margin-top: 20px;}
.downLoadLinks .btn-lg{background: #178EB4; width: 300px; color: #fff; padding: 7px 15px; border-radius: 6px; margin: 5px;}
.downLoadLinks img{width: 28px; float: left;}
.downLoadLinks span{ font-size: 17px; margin-top: 5px; font-weight: 400; float: left; margin-left: 10px;}
#flags_language_selector .container{padding-right: 50px;}
#flags_language_selector a{color: #333; text-decoration: none; font-size: 12px;}
#flags_language_selector .slct{ font-weight: 600;}
#flags_language_selector img{ padding:1px;}

.bannerImg{display: none; max-width: 100%; margin-top: 90px; float: left; width: 100%;}
.bannerImg img{ max-width: 100%;}

@media screen and (max-width: 1024px) {
    .greenBox .greenInner1 font{float: left; margin-left: 5px; margin-top: -4px;}
    .greenBox .greenInner1 span{margin-top: 3px; min-width: 70%; text-align: left;}
    #flags_language_selector{right: 0;}
    .rightGreen p{font-size: 13px;}
    .greenBox .greenInner3 span{font-size: 11px;}
    .rightGreen h4{font-size: 14px; }
    .imgFirst{ width:15px; margin-top:6px;}
    .liginBtm input[type=text], .liginBtm input[type=password]{ width:200px; margin-right:10px; margin-left:10px;}
    #home{ background-size:130%; background-position:top;}
    .f_inner p{min-height: 100px; font-size: 20px; margin: 0 2%;}
    .f_inner p span{ font-size:16px; color: #0088b3;}
    .navbar-brand img{ width:220px; margin-left:15px}
    #moveTop{font-size: 20px;}

    #home, .banner-text{ height:500px; min-height:500px;}
    #home .overlay{ height:530px; min-height:530px; display: none;}
    #searchCategory .col-md-3{ width: 50%; }
}
@media screen and (max-width: 768px) {

    #flags_language_selector{right: 0;}
    .navbar-brand img{ width:180px; margin-top: 5px;}
    .navbar-collapse{padding-left: 0; margin-right: 0;}
    .navbar-brand img{margin-left: 0;}

    #home, .banner-text{ height:370px; min-height:370px;}
    #home .overlay{ height:400px; min-height:400px;}

    .p-cls{ top:40px; width: 98%; font-size:18px; line-height: 24px;}
    .downloadApp p{ width:100%; text-align:center; padding:20px 0 0 0; font-size:24px;}
    .inn_download{width: 540px; text-align: center;}
    .inn_download a{ margin-left:5px; width: 250px; margin-right:0; font-size: 14px; float: none;}
    .inn_download a span{margin: 0 5px; }
    .inn_download img{ margin:12px 5px; width: 25px;}
    .navbar-nav{margin-top: 7px !important;}
    .navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a{ padding:15px 5px !important; margin:0 5px !important; font-size:16px}
    .navbar-default .navbar-nav > li > a:hover, .selected, .hideDiv .selected{ margin:0 5px; color: #666 !important;}
    .topHead span{ font-size:26px;}
    .greenBox .greenInner1 font{ float:left; margin-left:7px; margin-top:-2px; min-width: 50%; text-align: left;}
    .greenBox .greenInner3 span{ font-size:12px;}
    .f_inner img{ width:33px; margin-right:5px;}
    .f_inner{ margin-top:10px; padding-top: 20px;}
    .f_inner p span{ font-size:15px;}
    .f_inner p{ line-height:20px; margin: 0 2%; width: 96%;}
    .featuresDD{ margin-top:40px; padding:40px 0;}
    .hideDiv .navbar-brand{ margin-top:15px;}
    .plan_pricing1 ul li{ font-size:16px; padding:7px 0;}
    .plan_pricing1 ul{ width:90%; margin-left:5%;}
    .signInSection h2{ font-size:24px; border-right:0; width:100%; text-align:center; padding:0;}
    .liginBtm{ float:left;}
    .plan_pricing1 a{ font-size:18px;}
    .btnSignup, .btnLogin{ width:110px; margin-left:10px;}
    .container > .navbar-header{ margin-left:0; margin-right:0;}
    #login{ font-size:16px; padding-top:13px; padding-bottom:10px;}
    .hideDiv #login{ padding-top:5px;}
    #pricing .col-sm-8{width: 100%;}
    .featuresDD h1, .topHeadL{font-size: 24px;}
    .head-set{font-size: 18px;}
    .contact-form .wpcf7-form p{margin-left: 1%;}
    .regPlan .wpcf7-form p{margin-left: 3%; width: 46%; text-align: center;}
    .div.wpcf7-mail-sent-ok{margin-right: 0; width: 100%; text-align: center;}
}


@media screen and (max-width: 736px) {
    #flags_language_selector{right: 0;}
    .navbar-toggle{ margin-top:25px;}
    .navbar-brand{margin-top: 6px;}

    .hideDiv .navbar-toggle{ margin-top:23px}
    .navbar-collapse{ width:200px; margin-right: 6px !important; float:right; padding-top:4px; border:2px solid #ccc !important; padding-bottom:0px; position:relative; top:-4px; overflow:hidden; background:#fff; margin-right:-10px;}
    .collapse ul{ float:left; width:100%; margin:0;}

    .navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li{ float:left; text-align:center; width:96%;}
    .navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a{ float:left; width:100%; margin:0 !important; margin-bottom: -1px !important; border-bottom:solid 1px #ccc; border-top:0; padding:10px 0 !important; line-height:20px;}
    .navbar-default .navbar-nav > li > a, .hideDiv .navbar-nav > li > a:hover{ float:left; width:100%; border-bottom:solid 1px #ccc; border-top:0 !important; color:#000; padding:10px 0 !important;}

    .liginBtm{ width:70%; margin-left:15%;}
    .liginBtm input[type=text], .liginBtm input[type=password]{ width:100%; margin: 10px 0;}
    .btnSignup, .btnLogin{ width:100%; margin:10px 0;}
    #home, .banner-text{ height:360px; min-height:360px;}
    #home .overlay{ height:400px; min-height:400px;}
    #login{ width:100%; margin:0; text-align:center; float:left;}

    #login-content{ margin-top:0px; width:70%; margin-left:13%; position:absolute; z-index: 9999999; top:20px;}
    #login-content .liginBtm{ width:100%;}
    #pricing{ padding-bottom: 10px;}
}

@media screen and (max-width: 668px) {
    #home, .banner-text{ height:330px; min-height:330px;}
    #home .overlay{ height:350px; min-height:350px;}

    .p-cls{ width:90%; font-size:15px; padding-top: 30px; top:20px; color: #333; line-height:22px;}
    .p-cls label{font-size: 22px;}
    .bannerImg{display: block;}
    .rev_slider_wrapper{display: none;}
    .rev_slider_wrapper{position: relative;}
    #features{ border-top: solid 2px #E2E3E2;
        margin-top: 0px;
        padding-top: 0px;}
}

@media screen and (max-width: 600px) {
    #flags_language_selector{right: 0;}
    .topHead span{display: block; font-size: 22px;}
    #home .overlay{ min-height:200px;}
    .banner-text{ padding-left:0; padding-right:0;}

    .downLoadLinks span{font-size: 14px; margin-top: 5px;}
    .downLoadLinks img{width: 24px;}
    .navbar-brand img{ margin-left:0;}
    #login-content{ margin-top:0px; width:80%;  margin-left:6%; position:absolute; top:20px;}
    #login-trigger{color: #000; !important;}

    #flags_language_selector .container{padding-right: 22px;}
    .inn_download{ width: 100%; text-align: center; }

    .f_inner p{font-size: 18px;}

    #home, .banner-text{ height:270px; min-height:270px;}
    #searchCategory .col-md-3{ width: 100%; }
}
@media screen and (max-width: 415px) {
    .navbar-default .navbar-toggle{margin-right: 5px;}
    #flags_language_selector{right: 0;}
    #rev_slider_1_1, #rev_slider_1_1_wrapper, #rev_slider_2_1, #rev_slider_2_1_wrapper{height:180px !important; padding-top: 0px !important; min-height:180px !important;}

    #home .overlay{ height:200px !important; top: 60px !important; min-height:200px !important;}
    .p-cls{ top:10px; padding-top: 10px; font-size:16px; line-height:18px; height: 125px;}
    .head-set, .pricPackages{ font-size:18px; padding-top:0px; line-height: 15px; padding-bottom:0px;}
    #home{ background-size:150%;}
    .downloadApp p{ font-size:20px; padding-top: 0px; margin-bottom: 0;}
    .leftImg{ margin-top:0;}
    .navbar-brand img{ width:150px;}
    .footer_links{font-size: 12px;}
    .greenBox .greenInner1{padding: 3px 5px;}
    .featuresDD h1, .topHeadL{font-size: 20px; margin-bottom: 4px;}
    .head-set{font-size: 16px;}
    .regPlan .wpcf7-form p{width: 94%;}
    .p-cls label{font-size: 20px;}
    .downLoadLinks{margin-top: 5px;}
    .regPlan .wpcf7-form input[type=submit]{float: left; width: 100%;}
    .contact-form .wpcf7-form input[type=submit]{width: 100% !important;}
    .inn_download a{width: 240px; text-align: left; margin-top: 5px;}
    .inn_download a span{float: left;}
    .downLoadLinks .btn-lg{ width: 240px; }
    .imgDD{height: 50px;}
    div.wpcf7-mail-sent-ok{ width: 100%; text-align: center; margin-top: -20px; margin-right: 0;}
   .modal-dialog .wpcf7-form p{width: 100%; margin-left: 0;}
    #moveTop{right: 5px; font-size: 24px; bottom: 5px;}
}

@media screen and (max-width: 376px) {

    .inn_download{ width:255px;}
    .inn_download img{ max-width:35px; }
    .inn_download a{ padding:4px; margin-bottom: 5px; margin-left: 2px; font-size:13px; margin-top: 0px;}
    .inn_download a span{ margin:0 6px;}
    .downloadApp p{ font-size:16px;}
}
